In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier,StackingClassifier

In [2]:
df = pd.read_csv('heart.csv')
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [3]:
x = df.drop(columns=['target'])
y = df['target']

In [4]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [5]:
x_train.shape

(242, 13)

In [6]:
x_train.sample(5)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
259   38    1   3       120   231  ...      1      3.8      1   0     3
146   44    0   2       118   242  ...      0      0.3      1   1     2
190   51    0   0       130   305  ...      1      1.2      1   0     3
17    66    0   3       150   226  ...      0      2.6      0   0     2
268   54    1   0       122   286  ...      1      3.2      1   2     2

[5 rows x 13 columns]

In [7]:
y_train.sample(5)

54     1
152    1
70     1
98     1
0      1
Name: target, dtype: int64

In [8]:
estimators = [
    ('rf',RandomForestClassifier(n_estimators=10,random_state=42)),
    ('knn',KNeighborsClassifier(n_neighbors=10)),
    ('gd',GradientBoostingClassifier())
]

In [10]:
st = StackingClassifier(estimators=estimators,final_estimator=LogisticRegression(),cv=10)