In [18]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets import make_classification

In [16]:
x, y = make_classification(
    n_samples=100,       
    n_features=4,        
    n_classes=3,         
    n_informative=3,     
    n_redundant=1,       
    n_clusters_per_class=2,  
    flip_y=0.03,         
    class_sep=1.5,       
    random_state=42
)

In [22]:
df = pd.DataFrame(x,columns=['feature1','feature2','feature3','feature4'])
df['target'] = y

In [23]:
df.head()

   feature1  feature2  feature3  feature4  target
0  2.918974  0.447607 -1.809900  1.498321       1
1 -0.017866 -2.611619 -0.980863 -2.528572       0
2 -1.921793 -1.668640  0.359803 -2.590044       1
3 -2.264680 -0.968930  2.375779 -0.682308       1
4  2.898465  2.919181 -4.634541  0.497967       1