In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier,plot_tree
from sklearn.ensemble import BaggingClassifier
from mlxtend.plotting import plot_decision_regions
from sklearn.datasets import make_classification

In [16]:
x, y = make_classification(
    n_samples=100,       
    n_features=4,        
    n_classes=3,         
    n_informative=3,     
    n_redundant=1,       
    n_clusters_per_class=2,  
    flip_y=0.03,         
    class_sep=1.5,       
    random_state=42
)

In [22]:
df = pd.DataFrame(x,columns=['feature1','feature2','feature3','feature4'])
df['target'] = y

In [23]:
df.head()

   feature1  feature2  feature3  feature4  target
0  2.918974  0.447607 -1.809900  1.498321       1
1 -0.017866 -2.611619 -0.980863 -2.528572       0
2 -1.921793 -1.668640  0.359803 -2.590044       1
3 -2.264680 -0.968930  2.375779 -0.682308       1
4  2.898465  2.919181 -4.634541  0.497967       1

In [25]:
df_train = df.iloc[:60,:].sample(10)
df_val = df.iloc[60:80,:].sample(5)
df_test = df.iloc[80:,:].sample(5)

In [30]:
x_test = df_val.drop(columns=['target'])
y_test = df_val['target']

Evaluate

In [31]:
def evaluate(clf,x,y):
    clf.fit(x,y)
    plot_tree(clf)
    plt.show()
    plot_decision_regions(X=x.values,y=y.values,clf=clf,legend=2)
    y_pred = clf.predict(x_test)
    print(accuracy_score(y_test,y_pred))

Bagging

In [32]:
df_bag = df_train.sample(8,replace=True)
x = df_bag.drop(columns=['target'])
y = df_bag['target']
df_bag

    feature1  feature2  feature3  feature4  target
31 -1.080419  0.715335  0.690509  0.015002       2
9  -1.748594 -0.743457 -1.684830 -3.671819       2
27  1.100542 -2.681807 -1.216707 -1.696348       0
41 -2.447204 -1.534946 -2.875537 -5.911108       2
31 -1.080419  0.715335  0.690509  0.015002       2
0   2.918974  0.447607 -1.809900  1.498321       1
17 -3.288654  0.279886 -1.441003 -4.310455       2
17 -3.288654  0.279886 -1.441003 -4.310455       2